<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name='viewport' content='width=device-width' />
	<meta name="description" content="twtxt is a simple and free microblogging tool, and this is a directory of its users">
	<meta name="author" content="@reednj">

	<title><%= yield_content :title %></title>

	<link rel="shortcut icon" href="/imgs/logo.128x128.png"> 
	<link rel="apple-touch-icon" href="/imgs/logo.128x128.png"> 

	<link rel="stylesheet" href="/css/normalize.css?v=<%= settings.version %>" type="text/css">
	<link rel="stylesheet" href="/css/app.css?v=<%= settings.version %>" type="text/css">

	<script type='text/javascript' src='/js/jquery-2.1.4.min.js'></script>


	<% if defined? js %>
	<script type='text/javascript'>
		_js = <%== js.to_json %>;
	</script>
	<% end %>

	<%== yield_content :header %>

</head>

<body>

<div id="content">

	<div id='header'>
		<span>
			<img class='circle-logo' src="/imgs/logo.128x128.png" >
			<a href='/' style='margin-left:-4px;'>twtxt-dir</a>
			<span class='wide-only'>[<a href='https://github.com/buckket/twtxt'>get twtxt</a>]</span>
		<span>
		<span class='wide-only' style='float: right;'>
			<a href='http://twitter.com/reednj'>@reednj</a> | 
			<a href='https://github.com/reednj/twtxt-directory'><%= settings.version %></a>
		</span>
	</div>
	
	<%== yield_content :body %>

</div>

<% if settings.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57284-14', 'auto');
  ga('send', 'pageview');
</script>
<% end %>

</body>
</html>
