<% content_for :title do %>
	twtxt.xyz - a user directory for twtxt
<% end %>

<% content_for :header do %>

<script type='text/javascript'>
	var Ui = {
		add_user: function() {
			var form = $('#form-add-user');
			var button = $('#form-add-user input[type=submit]');
			
			var url = form.prop('action');
			var data = {
				username: $('#user-username').val(),
				url: $('#user-url').val()
			};

			button.prop('disabled', 'true');
			button.val('Adding...');
			$('#user-add-error').empty();

			$.post(url, data).done(function(response) {
				var result = 'user <a href="/user/' + response.user_id + '">@' + response.username + '</a> added!'
				$('#user-add-error').show().addClass('ok').html(result);
				Ui.activate_button(button);
			}).fail(function(xhr) {
				$('#user-add-error')
					.show()
					.removeClass('ok')
					.html('could not add user: ' + xhr.responseText);

				Ui.activate_button(button);
			});
		},

		activate_button: function(button) {
			button.prop('disabled', false);
			button.val('Add User');
		}
	}

</script>

<% end %>

<% content_for :body do %>

<div class="section wide-only">
	<form id='form-add-user' action='/user/add' method='post' onsubmit='Ui.add_user();return false;'>
		@<input id='user-username' name='username' type="text" placeholder='username' />
		<input id='user-url' name='url' type="text"  placeholder='url' />
		<input type="submit" value='Add User' />
	</form>

	<div id='user-add-error' class='error-message' style='display:none'>
	</div>
</div>

<div class="section">
	<% if user.nil? %>
		<a href='<%= github.authorize_url %>' style='color: #b58900'>Login with GitHub</a>
	<% else %>
		<a href='<%= user.profile_url %>' style='color: #b58900'>@<%= user.username %></a>
		| <a href='/update/new'>new post</a>
	<% end %>
	
	| <a href='/timeline/all'>/timeline</a>

	<div style='float:right;'>[<%= user_count %> users]</div>
</div>

<table class='console-table'>
	<tbody>
	<% users.each do |user| %>
		<tr>
			<td>
				<a class='user-link' href='<%= user.profile_url %>'>@<%= user.username %></a>
			</td>

			<td><a class='wide-only' href='<%= user.update_url %>'><%= user.update_url.truncate(40) %></a></td>
			<td class='numeric'>[<a href='<%= user.profile_url %>'><%= user.update_count %> updates</a>]</td>
		</tr>
	<% end %>
	</tbody>
</table>

<% end %>