
<% content_for :body do %>

<table class='console-table'>
	<tbody>
	<% users.each do |user| %>
		<tr>
			<td>
				<a class='user-link' href='/user/<%= user.user_id %>'>@<%= user.username %></a>
			</td>

			<td><a href='<%= user.update_url %>'><%= user.update_url.truncate(40) %></a></td>
			<td class='numeric'>[<%= user.update_count %> updates]</td>
		</tr>
	<% end %>
	</tbody>
</table>

<% end %>