<% content_for :title do %>
	<% if timeline_type == :all %>
		twtxt-dir / all
	<% elsif timeline_type == :replies  %>
		twtxt-dir / <%= target_user %> / replies
	<% elsif timeline_type == :single_post  %>
		twtxt-dir / <%= target_user %> / <%= posts.first.created_date %>
	<% end %>
<% end %>

<% content_for :body do %>

<div class='section'>
	<% if timeline_type == :all %>
		showing updates from all users
	<% elsif timeline_type == :replies %>
		showing replies to <%== html_user_link target_user %>
	<% elsif timeline_type == :single_post  %>
		post from <%== html_user_link target_user %> on <%= posts.first.created_date %>
	<% end %>

	<% if target_user.nil? %>
		<div style='float:right' class='wide-only'>[<%= post_count %> updates]</div>
	<% end %>
</div>

<% posts.each do |post| %>
	<div class='update'>
		<div class='header' title='<%= post.date %>'>
			<a class='user-link' href='<%= post.user.profile_url %>'>@<%= post.user.username %></a> 
			[<%== html_post_link post %>]
		</div>
		<div class='content'><%== timeline_type == :single_post ? post.html(:post_max_length => 512) : post.html %></div>
	</div>
<% end %>
	
<% end %>
