<% content_for :title do %>
	twtxt user directory / all
<% end %>

<% content_for :body do %>

<div class='section'>
	<% if target_user.nil? %>
		showing updates from all users
	<% else %>
		showing replies to <a class='user-link' href='/user/at/<%= target_user %>'>@<%= target_user %></a>
	<% end %>

	<% if target_user.nil? %>
		<div style='float:right'>[<%= post_count %> updates]</div>
	<% end %>
</div>

<% posts.each do |post| %>
	<div class='update'>
		<div class='header' title='<%= post.date %>'>
			<a class='user-link' href='<%= post.user.profile_url %>'>@<%= post.user.username %></a> [<%= post.date.diff_in_words %>]
		</div>
		<div class='content'><%== post.html %></div>
	</div>
<% end %>
	
<% end %>
