<% content_for :title do %>
	twtxt.xyz / <%= user.username %>
<% end %>

<% content_for :body do %>

<div class='section'>
	<a class='user-link' href='<%= user.profile_url %>'>@<%= user.username %></a> |  
	<a href='/user/<%= user.username %>/replies'>show @replies</a>
	
	<div class='wide-only' style='float:right'>[<%= user.update_count %> updates]</div>
</div>

<div class='section'>
	<div class='command'>
		<div class="command-line"># run this to follow @<%= user.username %> in the app</div>
		<div class="command-line">twtxt follow <%= user.username %> <%= user.update_url %></div>
	</div>
</div>

<% data.each do |update| %>
	<div class='update'>
		<div class='header' title='<%= update.date %>'>[<%= update.date.diff_in_words %>]</div>
		<div class='content'><%== update.html %></div>
	</div>
<% end %>
	
<% end %>