<% content_for :title do %>
	twtxt user directory / <%= user.username %>
<% end %>

<% content_for :body do %>

<div class='section'>
	<a class='user-link' href='/user/<%= user.user_id %>'>@<%= user.username %></a>
	[<%= user.update_count %> updates]
</div>

<div class='section'>
	<div class='command'>
		<div class="command-line"># run this to follow @<%= user.username %> in the app</div>
		<div class="command-line">twtxt follow <%= user.username %> <%= user.update_url %></div>
	</div>
</div>

<% data.each do |update| %>
	<div class='update'>
		<div class='header' title='<%= update.date %>'>[<%= update.date.age_in_words %> ago]</div>
		<div class='content'><%= update.text.truncate(140) %></div>
	</div>
<% end %>
	
<% end %>